body {
    font-family: sans-serif;
    background-color: lightgrey;
    margin-top: 75px;
}

.center {
    text-align: center;
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}
            .container{
     color: #d127e4;
    max-width: 700px;
    margin: 0 auto;
    font-family: sans-serif;
    padding: 110;
            }
